Bericht/bericht.aux
Bericht/bericht.blg
Bericht/bericht.log
Bericht/bericht.synctex.gz
Bericht/bericht.toc
Bericht/titlepage.log
OutputScaleFree_Normed/histogram_N100_M1.dat
OutputScaleFree_Normed/histogram_N100_M2.dat
OutputScaleFree_Normed/histogram_N50_M1.dat
OutputScaleFree_Normed/histogram_N50_M2.dat
Plotscripts/fit.log
shortest_path
Bericht/bericht.bbl
